.btn{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  transition: all 200ms ease;
  padding: 10px 45px 10px 22px;
  border-radius: 26.5px;
  text-align : center;
  font-size: 16px;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1536px) {
    font-size: 20px;
    padding: 16px 58px 15px 32px;
  }

  &.btn-orange{
    background-color: $orange;
    color: white;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
      right: 26px;
      background-image: url('../img/arrow.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 17px;
      width: 10px;
      transition: all 0.2s ease-in-out;
    }

    &:hover{
      &:before{
        right: 20px;
      }
    }
  }

  &.btn-transparent{
    background-color: transparent;
    color: $orange;
    border: 2px solid $orange;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
      right: 26px;
      background-image: url('../img/arrow-orange.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 15px;
      width: 8px;
      transition: all 0.2s ease-in-out;
    }

    &:hover{
      &:before{
        right: 20px;
      }
    }
  }

  &.btn-small{
    padding: 8px 38px 8px 19px;
    border-radius: 22px;

    &:before{
      right: 19px;
      height: 15px;
      width: 8px;
    }

    &:hover{
      &:before{
        right: 14px;
      }
    }

    @media screen and (min-width: 1536px) {
      font-size: 20px;
      padding: 12px 47px 11px 33px;

      &:before{
        right: 23px;
      }
  
      &:hover{
        &:before{
          right: 18px;
        }
      }
    }
  }
}

.link-animate{
  position: relative;
  width: fit-content;

  &:after{
    transition: all 0.2s ease-in-out;
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    background-color: $blue;
  }

  &:hover{
    &:after{
      width: 100%;
    }
  }
}

