$colors: (
  "white": #FFFF,
  "grey": #E8E8E8,
  "blue": #22527F,
  "blue2": #0279B5,
  "lightBlue": #B7EAFF,
  "orange": #FC7925

);
@each $name, $value in $colors {
  .text-#{$name}{
    color: $value;
  }
  .bg-#{$name}{
    background-color: $value;
  }
  .border-#{$name}{
    border-color: $value;
  }
  .hover\:text-#{$name}:hover{
    color: $value;
  }
  .hover\:bg-#{$name}:hover{
    background-color: $value;
  }
}