h1{
    font-family: "Poppins", sans-serif;
    color: $blue;
    font-size: 54px;
    margin-bottom: 0.3em;
    font-weight: 600;
    letter-spacing: -3.2px;

    span{
        color: $blue2;
    }
    
    @media screen and (min-width: 1280px) {
        font-size: 60px;
    }
    @media screen and (min-width: 1536px) {
        font-size: 75px;
    }
}

h2{
    font-family: "Poppins", sans-serif;
    color: $lightBlue;
    font-size: 30px;

    @media screen and (min-width: 1280px) {
        font-size: 34px;
    }
    @media screen and (min-width: 1536px) {
        font-size: 42px;
    }
}

h3{
    font-family: "Poppins", sans-serif;
    color: $blue;
    font-size: 43px;
    font-weight: 500;
    margin-bottom: 0.5em;
    letter-spacing: -3px;

    @media screen and (min-width: 1280px) {
        font-size: 49px;
    }

    @media screen and (min-width: 1536px) {
        font-size: 60px;
    }
}

h4{
    font-family: "Poppins", sans-serif;
    color: $blue;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 0.5em;
    letter-spacing: -2.4px;

    @media screen and (min-width: 1280px) {
        font-size: 39px;
    }

    @media screen and (min-width: 1536px) {
        font-size: 48px;
    }
}

h5{
    font-family: "Poppins", sans-serif;
    color: $blue;
    font-size: 16px;
    font-weight: 600;

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1536px) {
        font-size: 22px;
    }
}

p{
    font-family: 'Inter', sans-serif;
    color: $blue;
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 1.7;

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    }

    @media scren and (min-width: 1536px) {
        font-size: 22px;
    }
}

a{
    font-family: 'Inter', sans-serif;
    color: $blue;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.769px;
    text-decoration: none;

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    }

    @media scren and (min-width: 1536px) {
        font-size: 22px;
    }
}

