@font-face {
  font-family: 'Sofia Pro';
  src: url('./fonts/SofiaProBold.eot');
  src: local('Sofia Pro Bold'), local('SofiaProBold'),
  url('./fonts/SofiaProBold.woff') format('woff'),
  url('./fonts/SofiaProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/SofiaProLight.eot');
    src: local('Sofia Pro Light'), local('SofiaProLight'),
    url('./fonts/SofiaProLight.woff') format('woff'),
    url('./fonts/SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Made Evolve Sans';
    src: url('./fonts/MADEEvolveSans-Bold.eot');
    src: local('Made Evolve Sans Bold'), local('MADEEvolveSans-Bold'),
    url('./fonts/MADEEvolveSans-Bold.woff') format('woff'),
    url('./fonts/MADEEvolveSans-Bold.woff2') format('woff2'),
    url('./fonts/MADEEvolveSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}
