@import "reset";
@import "default";
@import "colors";
@import "btn";
@import "fonts";
@import "header";

//Path prod ../../assets/img/img.webp

#hug-index{
    
    .index-header{
        min-height: 100vh;
        background-image: url(../img/index-header.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        &__inner{
            min-height: 100vh;
            height: 100%;

            div{
                max-width: 600px;
                width: 100%;
            }
        }
    }

    .index-quote{
        h2{
            max-width: 900px;
            margin: auto;
        }
    }

    .index-candidates{
        .container-img-candidates{
            margin-top: -5em;

            @media screen and (min-width: 768px) {
                margin-top: -7em;
            }

            @media screen and (min-width: 1280px) {
                margin-top: -9em;
            }

            @media screen and (min-width: 1536px) {
                margin-top: -12em;
            }

            img{
                max-width: 240px;
                margin: auto;

                @media screen and (min-width: 768px) {
                    max-width: 300px;
                }

                @media screen and (min-width: 1280px) {
                    max-width: 360px;
                }

                @media screen and (min-width: 1536px) {
                    max-width: 475px;
                }
            }
        }
    }

    .index-employers{
        margin-top: -4px;
        background-image: url('../img/bg-rounded.webp');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        .container-img-employers{
            img{
                margin-top: -1em;
                max-width: 85%;
                margin-left: auto;

                @media screen and (min-width: 768px) {
                    margin-top: -3em;
                }
            }
        }
    }

    .index-benefits{
        margin-top: -3em;

        @media screen and (min-width: 768px) {
            margin-top: -5em;
        }

        @media screen and (min-width: 1280px) {
            margin-top: -7em;
        }

        @media screen and (min-width: 1536px) {
            margin-top: -9em;
        }

        .society, .wallet{
            max-width: 375px;
            margin-left: auto;
            margin-right: auto;

            .img-container{
                min-height: 300px;
                @media screen and (min-width: 768px) {
                    min-height: 420px;
                }
            }

            @media screen and (min-width: 1280px) {
                max-width: 400px;
            }

            @media screen and (min-width: 1536px) {
                max-width: 505px;
            }

            img{
                margin: auto;
            }
        }

        .society {
            img{
                max-height: 300px;
                @media screen and (min-width: 768px) {
                    max-height: 420px;
                }
               
            }
        }

        .wallet{
            img{
                max-width: 75%;
            }
        }
    }
}

#hug-employers{

    h4{
        @media screen and (min-width: 1532px) {
            font-size: 44px;
        }
    }

    .employers-header{
        min-height: 100vh;
        background-image: url(../img/employers-header.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 640px) {
            background-position: 32%;
        }

        &__inner{
            min-height: 100vh;
            height: 100%;
            
            @media screen and (min-width: 640px) {
                width: 70%;
                margin-left: auto;
            }

            h1{
                @media screen and (min-width: 640px) {
                    margin-left: -1em;
                }
            }

            h2{
                color: $blue;
                font-weight: 500;
                line-height: 1.2;

                span{
                    color: $blue2;
                }
            }

            .content{
                width: 100%;
                max-width: 580px;

                p span{
                    color: $blue2;
                }

                .list-item{
                    position: relative;
                    padding-inline-start: 3.5ch;

                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 1px;
                        background-image: url('../img/pin.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 25px;
                        width: 25px;

                        @media screen and (min-width: 640px) {
                            top: 4px;
                        }
                    }
                }
            }
        }
    }

    .employers-database{
        .employers-competitive-img{
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;

            @media screen and (min-width: 1024px) {
                max-width: 300px;
            }

            @media screen and (min-width: 1536px) {
                max-width: 100%;
            }
        }
    }

    .employers-staff{
        background-image: url('../img/bg-rounded.webp');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .employers-corporate{
        margin-top: -6em;
        
        @media screen and (min-width: 768px) {
            margin-top: -9em;
        }

        @media screen and (min-width: 1280px) {
            margin-top: -11em;
        }

        @media screen and (min-width: 1536px) {
            margin-top: -14em;
        }

        .employers-corporate-img{
            max-width: 180px;

            @media screen and (min-width: 1024px) {
                max-width: 220px;
            }

            @media screen and (min-width: 1536px) {
                max-width: 100%;
            }
        }
    }

    .employers-industry{
        p{
            width: 100%;
            max-width: 860px;
        }
    }
}

#hug-candidates{

    .candidates-header{
        min-height: 100vh;

        h1{
            margin-bottom: .5em;
        }

        &__inner{
            min-height: calc(100vh - 108px);

            @media screen and (min-width: 768px) {
                min-height: calc(100vh - 133px);
            }

            img{
                display: none;

                @media screen and (min-width: 768px) {
                    display: block;
                    margin-right: auto;
                }

                @media screen and (min-width: 1280px) {
                    margin-left: -5em;
                }
            }

            h2{
                color: $blue;
                font-weight: 500;
                line-height: 1.2;

                span{
                    color: $blue2;
                }
            }

            .content{
                @media screen and (min-width: 1280px) {
                    width: 100%;
                    max-width: 430px;
                }
            }
        }
    }

    .candidates-video{
        background-image: url('../img/bg-rounded.webp');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -5em;

        @media screen and (min-width: 768px) {
            margin-top: -2px;
        }


    }

    .candidates-vision{
        background-image: url('../img/bg-rounded.webp');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .candidates-financial{

        .candidates-financial-img{
            max-width: 220px;
            margin-left: auto;
            margin-right: auto;

            @media screen and (min-width: 768px) {
                max-width: 100%;
            }
        }
    }

    .candidates-recruitment{
        margin-top: -6em;
        
        @media screen and (min-width: 768px) {
            margin-top: -9em;
        }

        @media screen and (min-width: 1280px) {
            margin-top: -11em;
        }

        @media screen and (min-width: 1536px) {
            margin-top: -14em;
        }
    }
}

#hug-faqs{
    .accordions-employers{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em 2em;

        .accordion{
            width: 100%;
            border-radius: 10px;
            border: 1px solid #E2E4E8;
            background: #FFF;

            .accordion-toggle{
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                height: 100%;
                width: 100%;
                padding: 1.5em;
                text-align: left;

                p{
                    font-family: 'Inter', sans-serif;
                    color: $blue;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: -0.769px;
                    text-decoration: none;
                    margin-bottom: 0;
    
                    @media screen and (min-width: 1280px) {
                        font-size: 16px;
                    }
    
                    @media scren and (min-width: 1536px) {
                        font-size: 18px;
                    }

                }
            }

            .accordion-content{
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
        }
    }
}

header{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;

    #socials{
        img{
            transition: all 0.2s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .logo{
        max-width: 85px;
        margin-right: auto;

        @media screen and (min-width: 1024px) {
            max-width: 100px;
        }
        
        @media screen and (min-width: 1536px) {
            max-width: 130px;
        }
    }
}

footer{
    background-color: $grey;

    p, a{
        font-size: 16px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    h5{
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    .logo{
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;

        @media screen and (min-width: 768px) {
            margin-left: unset; 
        }

        @media screen and (min-width: 1024px) {
           max-width: 115px;
        }

        @media screen and (min-width: 1280px) {
           max-width: 130px;
        }
    }

    #socials{
        margin-bottom: 1.5em;
    }
}